<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="RetryMechanismImplementation">

     <listeners>
      		<listener class-name ="RetryMecahnism.MyTransformer"/>
     </listeners>

  <test name="Sanity Test">
    <classes>
    <class name="TestRetryAnalyzer.RunTimeRetryTest"/> 
     </classes>
     </test>
     </suite>